RAG_pipline.json
{
  "name": "RAG pipline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1cgUbJQ9rmNGQ_hp0Er09Q8NL5S0FiyG-",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1cgUbJQ9rmNGQ_hp0Er09Q8NL5S0FiyG-"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        60
      ],
      "id": "0f163db7-8a86-4c15-9ef5-a5cd7433d8fd",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NwXGbWAR7IbJb5pj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        60
      ],
      "id": "af0874db-9ad5-453c-bed9-5e7e69b269a1",
      "name": "Dowenload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NwXGbWAR7IbJb5pj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo3",
          "mode": "list",
          "cachedResultName": "demo3"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        420,
        60
      ],
      "id": "73d4586c-57bd-40ab-a56a-39427985e255",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Umhdkq07gLNn0MK8",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        640,
        280
      ],
      "id": "44bc3670-c691-4912-984c-c8f914dd7004",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        740,
        440
      ],
      "id": "9ce4eac5-dff0-485e-97aa-e2eca048f538",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "=sentence-transformers/distilbert-base-nli-mean-tokens",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        400,
        280
      ],
      "id": "28644e30-b94d-43e3-837e-3f7838497660",
      "name": "Embeddings HuggingFace Inference",
      "credentials": {
        "huggingFaceApi": {
          "id": "iyqLP4DDW8cUd658",
          "name": "HuggingFaceApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1200,
        80
      ],
      "id": "5139c79d-ff5a-4e25-9fcb-f06e7ab4ce82",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1300,
        340
      ],
      "id": "08493a23-1d79-4317-b0e5-df172dec6955",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "rWZBmFLKsCvQNubo",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        940,
        80
      ],
      "id": "22963539-ea49-4d2a-aedd-45a453c68add",
      "name": "When chat message received",
      "webhookId": "e6404e55-f5c1-4c94-8ba2-e304991d7acf"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Dowenload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dowenload file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cc61819e-ef06-4857-bce8-8417a8793df7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e2689d78b9e5cecf9181acc84b8ce173ba15da69bbc4887e42c7ac65875dbd95"
  },
  "id": "BjP9O3gOopkAbqAD",
  "tags": []
}